<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <% if (locals.user) { %>
    <p>Welcome back to the Club House, <%= user.fullname %>!</p>
    <%- include("partials/logout") %>
    <a href="/dashboard">Go to Dashboard</a>
  <% } else { %>
    <p>Welcome to the Club House!</p>
    <ul className="list">
      <li className="list-item">
        <a href="/users/register">Register New User</a>
      </li>
      <li className="list-item">
        <a href="/login">Log In</a>
      </li>
    </ul>
  <% } %>
</body>
</html>